@import 'defaultStyles';
.container {
  text-align: center;
  display: flex;
  flex-direction: column;
}

.stepper {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.input {
  appearance: none;
  border: none;
  text-align: center;
  font-size: 2rem;
  padding: 0.2rem;
  &:focus {
    outline: none;
  }
  @include mobile {
    font-size: 1.5rem;
  }
}
