@import 'defaultStyles';

@keyframes hit {
  0% {
    filter: brightness(1);
    transform: scale(1);
  }
  50% {
    filter: brightness(2);
    transform: scale(1.15);
  }
  100% {
    filter: brightness(1);
    transform: scale(1);
  }
}

.cell {
  width: $cellSize;
  height: $cellSize;
  appearance: none;
  border-radius: $cellSize * 0.1;
  border: 1px solid rgba($dark-gray, 0.1);
  background: none;

  transition: transform 0.2s, background-color 0.1s;
  user-select: none;

  @each $name, $value in $cell-colors {
    &.#{$name} {
      &.on {
        background-color: $value;
      }
    }
  }
  &.play {
    animation: hit 0.3s cubic-bezier(0.2, 1.07, 0.6, 0.98) normal both;
  }
  &:hover {
    transform: scale(1.1);
  }
  &:focus {
    // transform: scale(1.1);
    border-width: 2px;
    outline: none;
    &:not(:focus-visible) {
      border-width: 1px;
    }
  }

  &:focus-visible {
    transform: scale(1.1);
    border-width: 2px;
    outline: none;
  }

  &:active {
    transform: scale(0.95);
  }
}
