@import 'defaultStyles';

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  touch-action: none;
}

.panel {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  gap: calc(var(--cell-size) * 0.2);
}

.panelLine {
  height: var(--cell-size);
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: calc(var(--cell-size) * 0.2);
  > button:nth-child(4n + 1):not(:last-child) {
    margin-right: calc(var(--cell-size) * 0.2);
  }
}

.svgIcon {
  width: calc(var(--cell-size) * 0.8);
  height: calc(var(--cell-size) * 0.8);
  margin-right: calc(var(--cell-size) * 0.2);
  @each $name, $value in $cell-colors {
    &.#{$name} {
      color: $value;
    }
  }
}
