@import-normalize;
@import 'defaultStyles';

* {
  box-sizing: border-box;
}

:root {
  --cell-size: #{$cellSize};
  @include mobile {
    --cell-size: #{$mobileCellSize};
  }
}

body {
  // height: 100vh;
  margin: 0;
  padding: 0;
  margin-bottom: 180px;
  @include mobile {
    margin-bottom: 200px;
  }
}

#root {
  // height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}
