// colors
$primary-yellow: #f8e543;
$dark-yellow: #69581b;
$cell-red: #ff3939;
$cell-orange: #ff8c39;
$cell-yellow: #ffdf39;
$cell-lightgreen: #9dd400;
$cell-green: #39dd00;
$cell-jade: #00dba6;
$cell-skyblue: #3eb9ff;
$cell-blue: #355deb;
$cell-plum: #8a43ff;
$cell-purple: #ef39ff;
$dark-gray: #5a5a5a;

$cell-colors: (
  'red': $cell-red,
  'orange': $cell-orange,
  'yellow': $cell-yellow,
  'lightgreen': $cell-lightgreen,
  'green': $cell-green,
  'jade': $cell-jade,
  'skyblue': $cell-skyblue,
  'blue': $cell-blue,
  'plum': $cell-plum,
  'purple': $cell-purple
);

$cellSize: 35px;
$mobileCellSize: 28px;
